/*  CSS stylesheet for - portfolio/designSpec1/design1.
*                        https://github.com/Mervodactyl/DesignSpec1
*
*   <style type="text/css">
*
*   Standard size
=============================================================================*/
@import url("normalize.css");
@import url("keyframes-animation.css");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          /*padding: 0;
          margin: 0;*/
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: blue;
}

img {
  padding: 0;
  margin: 0;
  height: 450px;
  width: 1000px;
}

header {
  height: 55px;
  margin: 0;
  padding: 0;
  background-color: pink;
}
  header h2 {
    float: left;
    background-color: #F5BCA9;
  }
    nav {
      margin: 0;
      padding: 0;
      background-color: #FFF;
    }
      nav ul {
        float: left;
        margin: 0;
        list-style: none;
      }
        nav ul li {
          float: left;
          margin: 0;
          display: inline; /* -block */
          background-color: red;
          vertical-align: top;
        }

#image-slider { /* Slider Container */
  background-color: orange;
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
}
  #image-slider ul {
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
  }
    #image-slider ul li {
      height: 420px;
      width: 100%;
      position: absolute;
      left: -420px;
      list-style: none;
    }
      /* #slider ANIMATION */
      #image-slider li.first-animation {
        animation: pic-one 25s linear infinite;
        -moz-animation: pic-one 25s linear infinite;
        -webkit-animation: pic-one 25s linear infinite;
      }
      #image-slider li.second-animation {
        animation: pic-two 25s linear infinite;
        -moz-animation: pic-two 25s linear infinite;
        -webkit-animation: pic-two 25s linear infinite;
      }
      #image-slider li.third-animation {
        animation: pic-three 25s linear infinite;
        -moz-animation: pic-three 25s linear infinite;
        -webkit-animation: pic-three 25s linear infinite;
      }
      #image-slider li.fourth-animation {
        animation: pic-four 25s linear infinite;
        -moz-animation: pic-four 25s linear infinite;
        -webkit-animation: pic-four 25s linear infinite;
      }
      #image-slider li.fifth-animation {
        animation: pic-five 25s linear infinite;
        -moz-animation: pic-five 25s linear infinite;
        -webkit-animation: pic-five 25s linear infinite;
      }

#hidden-overflow {  /* Mask */
  overflow: hidden;
  height: 420px;
  padding: 0;
  background-color: blue;
}

.progress-bar {
  position: absolute;
  top: 460px;
  padding: 0;
  width: 100%;
  height: 15px;
  background: purple;
    /* .progress-bar ANIMATION */
    animation: loading 25s ease-out infinite;
    -moz-animation: loading 25s ease-out infinite;
    -webkit-animation: loading 25s ease-out infinite;
}






#info-slider .info {
  /*background:rgba(0,0,0,0.7);*/
  position: relative;
  background-color: orange;
  width: 400px;
  height: 60px;
  bottom: 175px;
  left: -400px;
  /*animation*/
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
#info-slider .info p {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  padding: 0 0 0 20px;
}
#info-slider li#first:hover .info,
#info-slider li#second:hover .info,
#info-slider li#third:hover .info,
#info-slider li#fourth:hover .info,
#info-slider li#fifth:hover .info {
  left: 0px;
}

#info-slider:hover li,
#info-slider:hover .progress-bar {
  animation: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}










p {
  padding: 1%;
  margin: 0;
  background-color: #00FFFF;
}

#me {
  clear: left;
  height: 65%;
  padding: 1%;
  margin: 0;
  background-color: cyan;
}
  #me p {
    padding: 1%;
    margin: 0;
    background-color: #F6CEF5;
  }

h1 {
  padding: 1%;
  margin: 0;
  background-color: #FE2E2E;
}

a, a:hover, a:visited {
  margin: 0;
  text-decoration: none;
  background-color: #F6CEF5;
}

main {
  height: 65%;
  padding: 1%;
  margin: 0;
  background-color: green;
}
  main p {
    padding: 1%;
    margin: 0;
    background-color: #FE2E64;
  }

div {
  padding: 1%;
  margin: 0;
  background-color: yellow;
}

#map {
  height: 70%;
  padding: 1%;
  margin: 0;
  background-color: purple;
}
  #map p {
    padding: 1%;
    margin: 0;
    background-color: #FE9A2E;
  }

footer {
  height: 10%;
  padding: 1%;
  margin: 0;
  background-color: goldenrod;
}
  footer p {
    padding: 1%;
    margin: 0;
    background-color: #00FF00;
  }
