/*  CSS stylesheet for - portfolio/designSpec1/design1.
*                        https://github.com/Mervodactyl/DesignSpec1
*
*   <style type="text/css">
*
*   Standard size
=============================================================================*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  /*background-color: blue;*/
}

nav {
  height: 10%;
  padding: 1%;
  margin: 0;
  background-color: pink;
}
  nav h2 {
    float: left;
    padding: 1%;
    margin: 0 0 0 5%;
    background-color: #F5BCA9;
  }
    nav ul {
      float: right;
      padding: 15px;
      margin: 0 5% 0 0;
      list-style-type: none;
      background-color: #01DF3A;
    }
      nav li {
        display: inline;
      }
        nav li a {
          float: left;
          background-color: red;
        }
          nav li a:link {
            padding: 1%;
            margin: 0px 10px 0px 0px;
          }

header {
  height: 75%;
  padding: 1%;
  margin: 0;
  background-color: orange;
    animation-name: slider;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
      -moz-animation: slider 1s ease-in-out 0.5s 2 alternate;
      -webkit-animation: slider 1s ease-in-out 0.5s 2 alternate;
}

/* ANIMATION */
@-keyframes slider {
  0%   { transform: translateX(0); }
  100% { transform: translateY(100px); }
}
@-moz-keyframes slider {
  0%   { transform: translateX(0); }
  100% { transform: translateY(100px); }
}
@-webkit-keyframes slider {
  0%   { transform: translateX(0); }
  100% { transform: translateY(100px); }
}

p {
  padding: 1%;
  margin: 0;
  background-color: #00FFFF;
}

#me {
  clear: left;
  height: 65%;
  padding: 1%;
  margin: 0;
  background-color: yellow;
}
  #me p {
    padding: 1%;
    margin: 0;
    background-color: #F6CEF5;
  }

h1 {
  padding: 1%;
  margin: 0;
  background-color: #FE2E2E;
}

a:link {
  padding: 1%;
  margin: 0;
  backgound-color: #F6CEF5;
}

main {
  height: 65%;
  padding: 1%;
  margin: 0;
  background-color: green;
}
  main p {
    padding: 1%;
    margin: 0;
    background-color: #FE2E64;
  }

div {
  padding: 1%;
  margin: 0;
  background-color: yellow;
}

#map {
  height: 70%;
  padding: 1%;
  margin: 0;
  background-color: purple;
}
  #map p {
    padding: 1%;
    margin: 0;
    background-color: #FE9A2E;
  }

footer {
  height: 10%;
  padding: 1%;
  margin: 0;
  background-color: goldenrod;
}
  footer p {
    padding: 1%;
    margin: 0;
    background-color: #00FF00;
  }
