/*  CSS stylesheet for - portfolio/designSpec1/design1.
*                        https://github.com/Mervodactyl/DesignSpec1
*
*   <style type="text/css">
*
*   Standard size
=============================================================================*/
@import url("animation.css");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  /*background-color: blue;*/
}

header {
  height: 20%;
  padding: 1%;
  margin: 0;
  background-color: pink;
}
  header h2 {
    float: left;
    padding: 1%;
    margin: 0 0 0 5%;
    background-color: #F5BCA9;
  }
    nav {
      float: right;
      padding: 1%;
      margin: 0;
      width: 25%;
      background-color: #01DF3A;
    }
      nav ul {
        padding: 1%;
        margin: 0;
        list-style-type: none;
      }
        nav ul li {
          padding: 1%;
          margin: 0;
          display: inline;
          background-color: red;
        }

#slider { /* slider container  - possibly the 'images-section'.... */
  background-color: orange;
  height: 420px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
}
  #slider ul {
    float:left;
    padding: 0;
    margin: 0;
    position: relative;
  }
    #slider ul li {
      height: 420px;
      width: 100%;
      position: absolute;
      left: -420px; /* original position, outside the slider */
      list-style: none;
    }
      /* ANIMATION */
      #slider li.first-animation {
        animation: pic-one 25s linear infinite;
        -moz-animation: pic-one 25s linear infinite;
        -webkit-animation: pic-one 25s linear infinite;
      }
      #slider li.second-animation {
        animation: pic-two 25s linear infinite;
        -moz-animation: pic-two 25s linear infinite;
        -webkit-animation: pic-two 25s linear infinite;
      }
      #slider li.third-animation {
        animation: pic-three 25s linear infinite;
        -moz-animation: pic-three 25s linear infinite;
        -webkit-animation: pic-three 25s linear infinite;
      }
      #slider li.fourth-animation {
        animation: pic-four 25s linear infinite;
        -moz-animation: pic-four 25s linear infinite;
        -webkit-animation: pic-four 25s linear infinite;
      }
      #slider li.fifth-animation {
        animation: pic-five 25s linear infinite;
        -moz-animation: pic-five 25s linear infinite;
        -webkit-animation: pic-five 25s linear infinite;
      }

#hidden-overflow {  /* Mask */
  overflow: hidden;
  height: 420px;
  padding: 0;
  background-color: blue;
}

p {
  padding: 1%;
  margin: 0;
  background-color: #00FFFF;
}

#me {
  clear: left;
  height: 65%;
  padding: 1%;
  margin: 0;
  background-color: cyan;
}
  #me p {
    padding: 1%;
    margin: 0;
    background-color: #F6CEF5;
  }

h1 {
  padding: 1%;
  margin: 0;
  background-color: #FE2E2E;
}

a:link {
  padding: 1%;
  margin: 0;
  backgound-color: #F6CEF5;
}

main {
  height: 65%;
  padding: 1%;
  margin: 0;
  background-color: green;
}
  main p {
    padding: 1%;
    margin: 0;
    background-color: #FE2E64;
  }

div {
  padding: 1%;
  margin: 0;
  background-color: yellow;
}

#map {
  height: 70%;
  padding: 1%;
  margin: 0;
  background-color: purple;
}
  #map p {
    padding: 1%;
    margin: 0;
    background-color: #FE9A2E;
  }

footer {
  height: 10%;
  padding: 1%;
  margin: 0;
  background-color: goldenrod;
}
  footer p {
    padding: 1%;
    margin: 0;
    background-color: #00FF00;
  }
